//-
  options.items - массив с элементами меню
  options.items[0].name - имя элемента меню
  options.items[0].href - ссылка элемента меню

mixin menu(options)
  if !options
    - options = {}
  if !options.items
    - options.items = []

  .collapse.navbar-collapse#bs-example-navbar-collapse-1
    ul.menu.navbar-nav.mr-auto
      for itemInner in options.items
        li.nav-item
          a.nav-link(href = itemInner.href)= itemInner.name
          if itemInner.items
            ul
              for itemInner2 in itemInner.items
                li
                  a(href = itemInner2.href)= itemInner2.name