mixin b-news(options)
	if !options
		- options = {}
	if !options.data
		- options.data = {}

	.b-news
		.b-news__view
			if options.image
				img(
					src = './images/' + options.image,
					alt = 'news image'
				)
		.b-news__text
			.b-news__text-in
				h3.b-news__title
					a(href = '#')= options.data.title || ''
				.b-news__description
					p= options.data.desc || ''

			.b-news__info.clearfix
				+b-info(options)