.b-news {
  width: 366px;
  padding: 18px;
  background: white;

  .b-news__view {
    height: 230px;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  &__title {
    margin: 10px 0 5px;
    font-family: OpenSans;
    font-weight: normal;
    font-size: 18px;
  }

  &__description {
    p {
      margin-top: 0;
    }
  }

  &__info {
    margin-top: 15px;
    font-size: 10px;
    color: $color-gray;

    span {
      margin-right: 10px;
    }
  }

  &__date {

  }

  .b-news__info &__watches {
    float: right;
    margin-right: 0;
    line-height: 1;

    svg {
      margin: -2px 4px 0 0;
      vertical-align: middle;
    }
  }

  &__likes {
    line-height: 1;
    color: $color-dark-blue;
    cursor: pointer;

    svg {
      margin-top: -2px;
      vertical-align: middle;
    }

    path {
      fill: transparent;
      stroke: #1f84c8;
    }
  }
}