extends ../base/base

include ../../components/s-title/s-title
include ../../components/button/button
include ../../components/b-news/b-news
include ../../components/b-pager/b-pager

block title
	| News

block variables
	- bodyClass = 'page-news-archive with-sidebar'

block sidebar
	- data = htmlWebpackPlugin.options.getData()
	- news = data.news || {}

	.sidebar
		.container
			.b-sort-wrapper
				+b-sort(news)

block main
	- data = htmlWebpackPlugin.options.getData()
	- news = data.news || {}

	.news
		.news-archive-item-wrap
			for item in news.items
				.news-item
					+b-news(item)
			+b-pager(item)