mixin b-video(options)
	if !options
		- options = {}
	if !options.data
		- options.data = {}
	- options.isVideo = true

	.b-video
		a.b-video__view(href='#', data-toggle="modal", data-target="#videoModal", data-video="http://www.youtube.com/embed/loFtozxZG0s")
			if options.image
				img.b-video__image(
					src = './images/' + options.image,
					alt = 'video image'
				)
		.b-video__description
			.b-video__description-in
				p= options.data.desc || ''
			.b-video__info
				+b-info(options)