.b-video {
  width: 583px;
  height: 456px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  background: $color-white;
  overflow: hidden;
  //border: 1px solid #d8d8d8;
  //border-top: none;

  &__description {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;

    &-in {
      max-height: 85px;
      overflow: hidden;
      position: relative;
      padding-bottom: 10px;
      margin-bottom: 10px;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 10px;
        background: linear-gradient(to top, #fff 0, rgba(255, 255, 255, 1e-16) 100%);
        transition: background .3s;
      }
    }
  }

  &__view {
    position: relative;
    display: block;
    height: 300px;
    overflow: hidden;
    margin-bottom: 16px;

    &:hover {
      -webkit-filter: brightness(70%);
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
      transition: all 1s ease;
    }

    img {
      width: 100%;
      height: auto;


    }

    &::before {
      content: "";
      position: absolute;
      top: 46%;
      left: 50%;
      -webkit-transform: translate(-50%,0);
      transform: translate(-50%,0);
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid #fff;
      background: rgba(0,0,0,.2);
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%,0);
      transform: translate(-50%,0);
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
      border-left: 12px solid #fff;
      margin-left: 1px;
    }
  }

  &__info {
    margin-top: auto;
    font-size: 10px;
    color: $color-gray;

    span {
      margin-right: 10px;
    }
  }

  &__date {

  }

  &__watches {
    float: right;
  }

  &__likes {
    line-height: 1;
    color: $color-dark-blue;
    cursor: pointer;

    svg {
      margin-top: -2px;
      vertical-align: middle;
    }

    path {
      fill: transparent;
      stroke: #1f84c8;
    }
  }
}