.b-video {
  padding: 15px;
  background: $color-white;
  //border: 1px solid #d8d8d8;
  //border-top: none;

  &__view {
    position: relative;
    display: block;
    height: 300px;
    overflow: hidden;
    margin-bottom: 16px;

    &:hover {
      -webkit-filter: brightness(70%);
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
      transition: all 1s ease;
    }

    img {
      width: 100%;
      height: auto;


    }

    &::before {
      content: "";
      position: absolute;
      top: 46%;
      left: 50%;
      -webkit-transform: translate(-50%,0);
      transform: translate(-50%,0);
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid #fff;
      background: rgba(0,0,0,.2);
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%,0);
      transform: translate(-50%,0);
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
      border-left: 12px solid #fff;
      margin-left: 1px;
    }
  }

  &__info {
    margin-top: 37px;
    font-size: 10px;
    color: $color-gray;

    span {
      margin-right: 10px;
    }
  }

  &__date {

  }

  &__watches {
    float: right;
  }

  &__likes {
    line-height: 1;
    color: $color-dark-blue;
    cursor: pointer;

    svg {
      margin-top: -2px;
      vertical-align: middle;
    }

    path {
      fill: transparent;
      stroke: #1f84c8;
    }
  }
}