block variables

doctype html
html
	head
		meta(charset = 'utf-8')
		meta(name='viewport', content="initial-scale=1.0, width=device-width")
		title
			block title
	body
		.outer-wrapper2
			header.site-header
			.inner-wrapper2
				.content-wrapper
					.container
						p
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed odio morbi quis commodo odio aenean sed adipiscing. Ac turpis egestas integer eget aliquet. Orci dapibus ultrices in iaculis nunc sed augue lacus viverra. Eu turpis egestas pretium aenean pharetra. Tempus imperdiet nulla malesuada pellentesque elit eget gravida cum. Porttitor eget dolor morbi non arcu. Suspendisse sed nisi lacus sed viverra tellus in hac. Urna id volutpat lacus laoreet. Massa eget egestas purus viverra accumsan in nisl nisi. Pellentesque sit amet porttitor eget dolor.
						p
							| Malesuada fames ac turpis egestas integer eget aliquet nibh. Consectetur adipiscing elit pellentesque habitant morbi tristique. Semper quis lectus nulla at. Turpis egestas sed tempus urna et. Ultricies mi eget mauris pharetra et ultrices neque ornare. A arcu cursus vitae congue. Commodo ullamcorper a lacus vestibulum sed. Eget lorem dolor sed viverra ipsum nunc aliquet bibendum enim. Arcu ac tortor dignissim convallis aenean. Orci phasellus egestas tellus rutrum tellus pellentesque eu tincidunt tortor. Mauris a diam maecenas sed. Luctus venenatis lectus magna fringilla. Amet nisl suscipit adipiscing bibendum est. Posuere urna nec tincidunt praesent semper feugiat nibh sed pulvinar.
						p
							| Dignissim cras tincidunt lobortis feugiat. Nibh sit amet commodo nulla facilisi nullam. Sed odio morbi quis commodo odio aenean sed adipiscing. Ut faucibus pulvinar elementum integer. Eu turpis egestas pretium aenean pharetra magna. Cum sociis natoque penatibus et magnis. Eu feugiat pretium nibh ipsum consequat nisl vel. Magna fringilla urna porttitor rhoncus dolor purus non. Feugiat sed lectus vestibulum mattis ullamcorper velit sed ullamcorper. Nisl vel pretium lectus quam id leo in. Consectetur libero id faucibus nisl tincidunt eget. Nunc mattis enim ut tellus. Dui ut ornare lectus sit amet. Semper quis lectus nulla at volutpat diam ut venenatis. Adipiscing tristique risus nec feugiat in fermentum. Integer malesuada nunc vel risus commodo. Integer quis auctor elit sed vulputate mi sit. Neque gravida in fermentum et. Feugiat nibh sed pulvinar proin gravida hendrerit lectus. Nullam non nisi est sit.
						p
							| Eget egestas purus viverra accumsan in nisl nisi scelerisque. Pulvinar neque laoreet suspendisse interdum consectetur. Scelerisque varius morbi enim nunc faucibus a pellentesque sit. Sapien faucibus et molestie ac feugiat sed. Sapien et ligula ullamcorper malesuada. Ipsum a arcu cursus vitae congue mauris. Et malesuada fames ac turpis egestas sed tempus. Elementum nisi quis eleifend quam adipiscing vitae proin sagittis nisl. Laoreet suspendisse interdum consectetur libero id faucibus nisl. Ultricies mi eget mauris pharetra et. Mattis rhoncus urna neque viverra justo nec ultrices dui. Imperdiet nulla malesuada pellentesque elit eget gravida cum. Bibendum ut tristique et egestas. Posuere morbi leo urna molestie at elementum eu facilisis sed.
						p
							| Ultrices tincidunt arcu non sodales neque sodales ut etiam. Amet luctus venenatis lectus magna fringilla. At varius vel pharetra vel turpis nunc eget lorem. Eu mi bibendum neque egestas congue quisque. At volutpat diam ut venenatis tellus in metus. Rutrum tellus pellentesque eu tincidunt tortor aliquam nulla. In vitae turpis massa sed elementum. Enim blandit volutpat maecenas volutpat blandit. Diam ut venenatis tellus in metus vulputate eu scelerisque. Libero nunc consequat interdum varius sit.
			footer