include ./base-data
block variables

include ../../components/layout/layout
include ../../components/header/header
include ../../components/b-top/b-top
include ../../components/footer/footer

doctype html
html
  head
    meta(charset='utf-8')
    meta(name="HandheldFriendly" content="false")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover")
    <!--[if IE]>
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    <![endif]-->

    title
      block title
  body
    .outer-wrapper
      block header
        +header({menuItems: locals.menuItems, socialItems: locals.socialItems})
      block b-top
        +b-top()
      .inner-wrapper
        .content-wrapper
          .container
            block main
            block footer
              +footer({items: locals.footerItems, socialItems: locals.socialItems})
    block scripts