//-js-vendor
link(href='./vendor/justifiedGallery.min/justifiedGallery.min.css' rel="stylesheet")

script(src='./vendor/common/js/jquery-3.2.1.min.js')
//-js-vendor
script(src='./vendor/justifiedGallery.min/jquery.justifiedGallery.min.js')




