mixin b-info(options)
	if !options
		- options = {}
	if !options.data
		- options.data = {}
	if !options.isVideo
		- options.isVideo = false

	.b-info
		span.b-info__date= options.data.date || ''
		span
			| &bull;
		if options.isVideo
			span
				include ../../images/icon-time-2.svg
				| &nbsp;3:04
			span
				| &bull;
		span.b-info__likes
			<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M5 12V6.36992C5 6.13121 5.08539 5.90038 5.24074 5.71913L7.76406 2.77527C7.91381 2.60055 8.13243 2.5 8.36255 2.5C8.91291 2.5 9.29386 3.04971 9.10061 3.56503L8.50667 5.14888C8.26151 5.80263 8.74479 6.5 9.443 6.5H12.044C12.7457 6.5 13.2292 7.20398 12.9773 7.85898L11.7396 11.0769C11.294 12.2355 10.1809 13 8.9396 13H6C5.44772 13 5 12.5523 5 12Z" stroke="#757575"/>
			<path d="M2 7.5C2 6.94772 2.44772 6.5 3 6.5C3.55228 6.5 4 6.94772 4 7.5V12C4 12.5523 3.55228 13 3 13C2.44772 13 2 12.5523 2 12V7.5Z" fill="#757575"/>
			</svg>
			= options.data.likes || ''
		span.b-info__watches
			<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
			<g clip-path="url(#clip0)">
			<path d="M11.9237 5.76668C11.8165 5.62003 9.26218 2.1759 5.99988 2.1759C2.73759 2.1759 0.183174 5.62003 0.0760875 5.76654C-0.0254439 5.90566 -0.0254439 6.09436 0.0760875 6.23348C0.183174 6.38013 2.73759 9.82425 5.99988 9.82425C9.26218 9.82425 11.8165 6.38011 11.9237 6.2336C12.0253 6.0945 12.0253 5.90566 11.9237 5.76668ZM5.99988 9.03305C3.59685 9.03305 1.51557 6.74712 0.899472 5.99981C1.51478 5.25185 3.5917 2.96711 5.99988 2.96711C8.40279 2.96711 10.4839 5.25264 11.1003 6.00035C10.485 6.74829 8.40806 9.03305 5.99988 9.03305Z" fill="#666666"/>
			<path d="M5.99991 3.62646C4.69112 3.62646 3.62628 4.6913 3.62628 6.0001C3.62628 7.3089 4.69112 8.37374 5.99991 8.37374C7.30871 8.37374 8.37354 7.3089 8.37354 6.0001C8.37354 4.6913 7.30871 3.62646 5.99991 3.62646ZM5.99991 7.58251C5.12733 7.58251 4.41751 6.87266 4.41751 6.0001C4.41751 5.12755 5.12736 4.41769 5.99991 4.41769C6.87247 4.41769 7.58232 5.12755 7.58232 6.0001C7.58232 6.87266 6.87249 7.58251 5.99991 7.58251Z" fill="#666666"/>
			</g>
			</svg>
			= options.data.watches || ''