.btn {
  display: inline-block;
  font-size: 19px;
  padding: 10px 15px;
  width: 152px;
  text-decoration: none;
  text-align: center;
  color: white;
  background: linear-gradient(#8D8D8D, #000);
  border-radius: 5px;
}