//@import '../../common/settings.scss';
.layout {
  height: 100%;

  &__header {
    position: relative;
    min-height: 1230px;
    background-image: url(../../images/header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__main {
    overflow: hidden;
    background-image: linear-gradient(#000 0%, rgba(255,0,0,0) 2%),
      url("../../images/bg.png");

    >.layout__container {
      background-color: $color-blue;
    }
  }

  &__container {
    width: 1170px;
    margin: 0 auto;
  }
}

.section {

  &.s-news {
    margin-top: 40px;

    .news-item {
      float: left;
      margin-right: 35px;
      border: 1px solid #d8d8d8;
      border-top: none;

      &:last-child {
        margin-right: 0px;
      }
    }
  }
}

//.layout {
//  display: flex;
//  flex-direction: column;
//  height: 100%;
//
//  &__header {
//    display: flex;
//    flex: 0 0 auto;
//    background-color: $color-first;
//  }
//
//  &__main {
//    display: flex;
//    flex: 1 0 auto;
//  }
//
//  &__footer {
//    display: flex;
//    flex: 0 0 auto;
//    background-color: $color-second;
//  }
//
//  &__container {
//    display: flex;
//    flex: 1 1 100%;
//    align-content: flex-start;
//
//    @for $i from 1 to 80 {
//      $basis: $i * 50;
//
//      &_basis-#{$basis}.layout__container {
//        flex-basis: #{$basis}px;
//      }
//    }
//
//    @for $grow from 0 to 10 {
//      &_grow-#{$grow} {
//        flex-grow: $grow;
//      }
//    }
//
//    @for $shrink from 0 to 10 {
//      &_shrink-#{$shrink} {
//        flex-shrink: $shrink;
//      }
//    }
//
//    &_block {
//      display: block;
//    }
//
//    &_left {
//      flex-grow: 0;
//      margin-right: auto;
//    }
//
//    &_right {
//      flex-grow: 0;
//      margin-left: auto;
//    }
//
//    &_center {
//      flex-grow: 0;
//      margin-right: auto;
//      margin-left: auto;
//    }
//
//    &_column {
//      flex-direction: column;
//
//      & > .layout__container {
//        flex-basis: auto;
//      }
//    }
//
//    &_column-reverse {
//      flex-direction: column-reverse;
//
//      & > .layout__container {
//        flex-basis: auto;
//      }
//    }
//
//    &_row-reverse {
//      flex-direction: row-reverse;
//    }
//
//    &_wrap {
//      flex-wrap: wrap;
//    }
//
//    &_wrap-reverse {
//      flex-wrap: wrap-reverse;
//    }
//
//    &_basis-auto.layout__container {
//      flex-basis: auto;
//    }
//  }
//}
