include ../menu/menu

//-
  options.menuItems - массив елементов меню

mixin header(options)
  if !options
    - options = {}

  .header
    .header__menu
      +menu({items: options.menuItems})
    .header__promo
      | Федерация Крымского Стиля
    a.header__logo(href = '/index.html')
      include ../../images/logo.svg