.header {
  position: absolute;
  z-index: 10;
  width: 100%;
  text-align: center;

  &__social {
    position: absolute;
    top: 40px;
    left: 100px;
  }

  &__social-right {
    left: auto;
    right: 110px;
  }

  .menu-wrap {
    margin-top: 30px;
    //padding: 4px 0;
    background-image: linear-gradient(#B5B5B5 0%, #E6E6E6 20%, #4A4A4a 95%);
    border-radius: 10px;
  }
}