.section__title {
  padding: 20px 15px;
  background: linear-gradient(#8D8D8D, #000);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;

  h2 {
    margin: 0;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: normal;
    color: white;
  }
}