//-
	options.items - массив с элементами меню
	options.items[0].name - имя элемента меню
	options.items[0].href - ссылка элемента меню

mixin footer(options)
	if !options
		- options = {}
	if !options.items
		- options.items = []

	.footer
		nav.footer__nav
			ul
				for item in options.items
					li
						a.footer__nav-item(href = item.href)= item.name
						if item.items
							ul
								for itemInner in item.items
									li
										a.footer__nav-item(href = itemInner.href)= itemInner.name

		.footer__logo
			| Федерация Крымского Стиля

		.footer__copyright
			| &copy; 2020