.footer {
  padding: 10px 10px 36px;;

  .col {
    float: left;
    margin-right: 40px;
    margin-bottom: 40px;
    max-width: 300px;

    > ul {
      margin: 0;
      padding: 0;
      list-style: none;

      > li {
        margin-bottom: 20px;

        > a {
          text-transform: uppercase;
          text-decoration: none;
          color: inherit;
        }

        > ul {
          margin: 10px 0 0;
          padding: 0;
          list-style: none;

          li {

            a {
              text-decoration: none;
              color: inherit;
            }
          }
        }
      }
    }
  }

  &__logo {
    width: 970px;
    margin: 0 auto 40px;
    vertical-align: middle;

    img {
      vertical-align: middle;
      margin-right: 60px;
    }

    .b-social {
      display: inline-block;
      vertical-align: text-bottom;
    }
  }

  &__promo {
    margin-right: 60px;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 30px;
    line-height: 80px;
    text-transform: uppercase;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to right, #DDC077 0%, #F9F3CB 34%, #DBBE75 72%, #FAF3CD 100%);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #AE8D39;
  }

  &__copyright {
    width: 300px;
    margin: 0 auto;
  }
}
