include ../b-social/b-social
//-
	options.items - массив с элементами меню
	options.items[0].name - имя элемента меню
	options.items[0].href - ссылка элемента меню

mixin footer(options)
	if !options
		- options = {}
	if !options.items
		- options.items = []
	if !options.socialItems
		- options.socialItems = []

	.footer
		.container
			.footer__menu.clearfix
				for item in options.items
					.col
						ul
							for itemInner in item
								li
									a.footer__nav-item(href = itemInner.href)= itemInner.name
									if itemInner.items
										ul
											for itemInner2 in itemInner.items
												li
													a.footer__nav-item(href = itemInner2.href)= itemInner2.name

			.footer__logo
				img(src= "../../images/footer_logo.png")
				span.footer__promo
					| Федерация Крымского Стиля
				+b-social({items: options.socialItems})

			.footer__copyright
				| &copy; 2020 Все права защищены