html, body {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.5;
  font-family: $OpenSans;
  color: $color-black;
  background-color: $color-blue;
}

.outer-wrapper {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url("../images/bg.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  //background-size: cover;

  .path-frontpage & {
    background-image: url("../images/bg-front.jpg");
  }
}

.inner-wrapper {
  &.path-frontpage {
    background: linear-gradient(rgb(0, 0, 0) 0%, rgba(255, 0, 0, 0) 4%);
  }

  .with-sidebar & {
    //position: relative;
  }
}

.content-wrapper {
  overflow: hidden;

  .with-sidebar & {
    padding-bottom: 60px;
  }
}

.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: $width-xl;

  &:before, &:after {
    content: " ";
    display: table;
  }

  .with-sidebar .content-wrapper & {
    //max-width: 790px;
  }
}

.owl-carousel {
  .owl-nav {
    line-height: 0;
  }
}

button:focus {
  outline: none;
}

a {
  color: $color-black;

  &:hover {
    color: $color-black;
    text-decoration: none;
  }
}