//color
$color-blue: #B9C3D1;
$color-black: #000;
$color-gray: #666;
$color-gray-light: #c4c4c4;
$color-gray-medium: #ABABAB;
$color-dark-blue: #016DAE;
$color-white: #FFF;

//fonts
$Montserrat: Montserrat;
$OpenSans: OpenSans;