.btn-wrap {
  margin: 28px 0 35px;
  text-align: center;
}

.video-item-wrap {
  background-color: white;
  padding: 25px;

  .video-item {
    float: left;
    width: 550px;
    //border: 1px solid black;
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.sponsors-item-wrap {
  background-color: white;
  margin-bottom: 70px;
  padding: 60px 20px;

  .sponsors-item {
    float: left;
    margin-right: 40px;
  }
}

.gallery-item-wrap {
  height: 725px;
  background-color: white;
}