.btn-wrap {
  margin: 28px 0 100px;
  text-align: center;
}

.section {

  &.s-news {
    margin-top: 40px;

    .news-item-wrap {
      margin: 0 -21px;
      display: flex;
      //justify-content: space-between;
      //align-items: stretch;
      flex-wrap: wrap;
    }

    .news-item {
      width: calc(33.333% - 40px);
      margin: 0 20px 20px;

    }
  }
}

.s-video {

  .video-item-wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    background: $color-white;

    .video-item {
      width: calc(50%);
      margin: 0;
    }
  }
}

.sponsors-item-wrap {
  background-color: white;
  margin-bottom: 100px;
  padding: 60px 20px;

  .sponsors-item {
    float: left;
    margin-right: 40px;
  }
}

.gallery-item-wrap {
  height: 725px;
  background-color: white;
}