{#
/**
 * @file
 * News sidebar.
 *
 */
#}
<div class="b-sort-wrapper">
  <div class="b-sort">
    <div class="b-sort__items">
      {% if archive %}
        {% for year, months in archive %}
          <div class="b-sort__item">
            <div class="b-sort__title">
              {{ year }}
            </div>
            <div class="b-sort__body">
              {% for month_name, data in months %}
                {% set url = base_path ~ '/' ~ year ~ data.month_digits %}
                {% set month_class = (current_path == url) ? 'bef-link-active' : '' %}
                <a href="{{ url }}" class="{{ month_class }}">{{ month_name }}</a>
              {% endfor %}
            </div>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
</div>
